<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Test_Sauce_Demo" parallel="tests" thread-count="2"> 
	<test name="Firefox Test">
	<parameter name ="browser" value="firefox"/>
		<classes>
			<class name = "testSauceDemo.TestPage"/>
		</classes>	
	</test>
	
	<test name="Chrome Test">
	<parameter name ="browser" value="chrome"/>
		<classes>
			<class name = "testSauceDemo.TestPage"/>
		</classes>	
	</test>
</suite>